xml-resources/jaxb/SapBinding/saptosciforma.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="code_projets">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="code_projet" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="actuals" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="actual" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="mois" use="optional"/>
                            <xs:attribute type="xs:float" name="montant_actual" use="optional"/>
                            <xs:attribute type="xs:string" name="devise" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="exercice"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="code"/>
            <xs:attribute type="xs:float" name="montant_engage"/>
            <xs:attribute type="xs:string" name="devise"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
